.addCar {
  &__form {
    position: absolute;
    top: 89px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__input:focus {
    border: none;
    outline: 2px solid #c5e8f2;
    transition: 0.1s;
  }

  &__input_descr {
    outline: 1px solid lightgrey;
    border: none;
    resize: none;
    transition: 0.1s;
  }

  &__input_descr:focus {
    outline: 2px solid #c5e8f2;
    border: none;
  }

  &__input_label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 15px;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__btn {
    font-size: 1.6rem;
    padding: 7px 15px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid lightgrey;
    margin-top: 25px;
    color: grey;
  }

  &__btn:first-of-type {
    margin-right: 10px;
  }

  &__btn:disabled {
    color: grey;
  }

  &__btn:hover:disabled {
    background-color: #fff;
    color: grey;
  }

  &__btn_add {
    margin-right: 15px;
  }

  &__btn:hover {
    color: #fff;
    background-color: rgb(72, 147, 209);
  }
}
